### Magento2 template
/app/*.*
/app/etc/*
/lib/*
/dev/*
/config/*
/*.*
/setup/*
/phpserver/*
/node_modules/*
/bin/*

/pub/errors/*
/pub/opt/*
/pub/static/*
/pub/*.*

/pub/media/*.*
/pub/media/sitemap/*
/pub/media/custom_options/*
/pub/media/attribute/*
/pub/media/analytics/*
/pub/media/catalog/*
/pub/media/customer/*
/pub/media/downloadable/*
/pub/media/favicon/*
/pub/media/import/*
/pub/media/logo/*
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/wysiwyg/*
/pub/media/tmp/*
/pub/media/captcha/*
/pub/static/*

/var/*
/vendor/*
/generated/*

