<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kvitny\BouquetEntity\Api\Data\BouquetInterface"
                type="Kvitny\BouquetEntity\Model\Data\BouquetData"/>
    <virtualType name="Kvitny\BouquetEntity\BouquetImageUpload" type="Kvitny\BouquetEntity\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/bouquet</argument>
            <argument name="basePath" xsi:type="string">catalog/bouquet</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Kvitny\BouquetEntity\Controller\Adminhtml\Bouquet\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Kvitny\BouquetEntity\BouquetImageUpload</argument>
        </arguments>
    </type>
</config>
