& when (@media-common = true) {
    .page-footer {
        background: @secondary__color !important;
        height: 270px;
        box-sizing: border-box;
        color: @primary__color;

        .logo {
            min-width: 180px;
        }

        .footer.links {
            padding: 0;
            display: flex;
            justify-content: space-between;
            margin: 0 20px;

            li {
                list-style: none;

                a {
                    font-size: @font-size__s;
                    color: @primary__color !important;
                }
            }
        }

        .phone-number {
            letter-spacing: 0.39px;
            font-size: @font-size__s + 1px;
        }

        & > li {
            list-style: none;
            border: 2px solid #FFFFFF;
            padding: 8px 15px;
            font-size: @font-size__s;
            margin: 17px;

            a {
                color: @primary__color;
            }
        }
    }
}

//Desktop
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    .page-footer {
        .centered();

        .footer.links {
            width: 405px;

            li {
                margin: 0;
            }
        }

        .footer__arrow-up {
            margin: 30px;
        }

        .logo {
            margin: 10px;
        }
    }
}

//Tablet
& when (@media-target = 'desktop'), (@media-target = 'all') {
    @media only screen and (min-width: @screen__m) and (max-width: (@screen__l - 1px)) {
        .page-footer {
            position: relative;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: start;
            align-content: space-evenly;
            align-items: center;
            padding: 30px 50px;

            .footer.links {
                width: 405px;
                justify-self: end;

                li {
                    margin: 0;
                }
            }

            & > li {
                justify-self: end;
            }

            .footer__arrow-up {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                bottom: 30px;
                margin: 0;
            }
        }
    }
}

//Small mobile
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer {
        position: relative;
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 30px 0 60px;

        .footer.links {
            font-size: 12px;
            max-width: 400px;
            width: 100%;
            li {
                margin: 3px 0;
            }
        }

        .footer__arrow-up {
            position: absolute;
            left: 50%;;
            transform: translate(-50%, 0);
            margin: 0;
            bottom: 20px;
        }
    }
}
