.section-with-photo {
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.column-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
