@standart-font:                 12px;
@bigger-font:                   15px;

@weight-bold:                   700;
@weight-normal:                 500;

@box-shadow:                    0px 6px 30px 1px rgba(68, 83, 64, 0.4);

@secondary-color:               #445340;
@secondary-color-transparant:   rgba(68, 83, 64, 0.5);
@primary-color:                 #FFFFFF;
@link-color:                    #FFFFFF;

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('../fonts/montserrathairline.woff2') format('woff2'), url('../fonts/montserrathairline.woff') format('woff'), url('../fonts/montserrathairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Light'), local('Montserrat-Light'), url('../fonts/montserratlight.woff2') format('woff2'), url('../fonts/montserratlight.woff') format('woff'), url('../fonts/montserratlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), local('Montserrat-Regular'), url('../fonts/montserrat.woff2') format('woff2'), url('../fonts/montserrat.woff') format('woff'), url('../fonts/montserrat.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserratbold.woff2') format('woff2'), url('../fonts/montserratbold.woff') format('woff'), url('../fonts/montserratbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Black'), local('Montserrat-Black'), url('../fonts/montserratblack.woff2') format('woff2'), url('../fonts/montserratblack.woff') format('woff'), url('../fonts/montserratblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


// Default variables
@button-primary__active__background: @secondary-color;
@button-primary__background: @secondary-color;
@button-primary__hover__background: @secondary-color-transparant;
@button-primary__hover__border: none;
@button-primary__border: none;

@link__color: @secondary-color;
@link__hover__color: @secondary-color;
@link__text-decoration: none;
@link__hover__text-decoration: none;
