& when (@media-common = true) {
    .banner {
        .section-with-photo();
        margin: 0;
        height: 700px;
        background-position: 48% 0%;
        background-size: cover;

        .banner__text {
            .column-space-between();
            max-width: 570px;
        }

        .banner__title {
            margin: 0;
            font-weight: 900;
            font-size: 40px;
        }

        .banner__descript {
            margin: 30px 0;
            font-weight: @font-weight__regular;
            font-size: @font-size__l;
        }

        .order__button {
            .centered();
            background: @secondary__color;
            box-shadow: @box-shadow;
            width: 220px;
            height: 48px;
            color: @primary__color;
            border: none;
        }
    }

    div.custom-content {
        .banner {
            .banner__text {
                background: rgba(256,256,256,0.4);
                padding: 20px;
                backdrop-filter: blur(3px);
                position: absolute;
            }
        }
    }
}

//  Mobile (styles-m.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .banner .banner__text {
        .banner__title {
            font-size: @font-size__l * 2;
        }

        .banner__descript {
            font-size: @font-size__l - 1px;
        }
    }
}

// Mobile and Tablet
// _________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .banner .banner__text {
        padding: 10px;
    }
}

//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .banner .banner__text {
        padding: 20px 20px 20px 10%;
    }
}

